@charset "UTF-8";
@font-face {
  font-family: "FuturaPT-Light";
  font-style: normal;
  font-weight: lighter;
  font-display: block;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("FuturaPT"), url("../fonts/FuturaPT-Light.woff2") format("woff2");
}
@font-face {
  font-family: "FuturaPT-medium";
  font-style: normal;
  font-weight: normal;
  font-display: block;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("FuturaPT"), url("../fonts/FuturaPT-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "FuturaPT-bold";
  font-style: normal;
  font-weight: bold;
  font-display: block;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("FuturaPT"), url("../fonts/FuturaPT-Bold.woff2") format("woff2");
}
@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media (max-width: 600px) {
  .header__container {
    width: 90%;
  }
}
@media (max-width: 1000px) {
  .main__container {
    width: 100%;
  }
}
a {
  text-decoration: none;
  color: #dfdfdf !important;
}