@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    display: flex;
    background: $bg;
    // ЕСЛИ ВОЗНИКЛА ПРОБЛЕМА С ВЕРТИКАЛЬНЙО ПРОКРУТКОЙ
    overflow: hidden;

    //ШАПКА 
    header {
        width: 100%;
        height: 100%;
        border-bottom: 1px solid $pln;
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 1;

        .header {
            height: 60px;
            justify-content: center;
            display: flex;
            border-bottom: 1px solid $pln;
            display: flex;
            background: $header;

            &__container {
                display: flex;
                min-width: 60%;
                align-items: center;
                flex-direction: row;
                justify-content: space-between;

                .header__box {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &__logo {
                        width: 52px;
                        height: 52px;
                        fill: $wh;
                    }

                    &__line {
                        height: 20px;
                        margin-left: 10px;
                        animation-name: blink;
                        animation-iteration-count: infinite;
                        animation-duration: 1s;
                        border-right: 1px solid $wh;
                    }

                    &__github {
                        fill: $wh;
                        margin-left: 10px;
                    }
                }

                .header__auth {
                    display: flex;
                    color: $wh;
                    font-size: 15px;
                    font-family: "FuturaPT-Light";
                    font-weight: lighter;
                }
            }

            &__login {
                margin-left: 10px;
            }

            &__login:hover,
            &__register:hover {
                color: white;
                border-bottom: 1px solid white;
                margin-bottom: -1px;
            }
        }

        nav {
            height: 40px;
            display: flex;
            border-bottom: 1px solid $pln;
            background: $nav;
            backdrop-filter: blur(10px);

        }
    }

    //КОНТЕНТ
    .main {
        width: 100%;
        height: 100%;
        display: flex;
        background: $bg;
        justify-content: center;
        background-position: center;

        &__container {
            width: 60%;
            height: 100%;
            margin-top: 100px;
            display: flex;
            background: url('/images/background.png') no-repeat;
            background-size: contain;

            &__box {
                width: 100%;
                height: 800px;
                background-size: contain;
                display: flex;
                align-items: center;
                justify-content: center;

                .slider {
                    width: 512px;
                    height: 512px;
                    margin: 0 auto;
                    position: relative;
                    overflow: hidden;


                    &__slide {
                        width: 100%;
                        height: 512px;
                        position: absolute;
                        transition: all ease 1s;
                        left: 0;
                        right: 0;
                        background: url('../images/boolean1.svg') no-repeat;
                        background-size: contain;
                    }
                }
            }

        }
    }
}